h1 {
    margin-top: 20px;
    margin-bottom: -20px;
    text-align: center;
    font-size: 28px;
    vertical-align: bottom;
}
h2 {
    background-color: rgb(51 71 255);
    color: rgb(255 255 255);
    font-size: 32px;
    text-align: center
}

h3 {
    margin-top: 20px;
    border-bottom: 1px groove;
    padding-bottom: 1px;
    text-align: center;
    font-size: 24px;
    vertical-align: bottom;
}

table {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
td {
    border: 1px solid #dddddd;
    padding: 5px;
}

input {
    margin-top: 3px;
    margin-bottom: 3px;
}

button {
    background-color: #FFF0CB;
}

.td_button {
    text-align: center;
    border: 1px solid #dddddd;
    padding: 5px;
}

#decommissioning_ppe_button {
    background-color: #dddddd;
}

.wrapper {
    width: 50%;
}