h1 {
    margin-top: 20px;
    margin-bottom: -20px;
    text-align: center;
    font-size: 28px;
    vertical-align: bottom;
}
h2 {
    background-color: rgb(51 71 255);
    color: rgb(255 255 255);
    font-size: 32px;
    text-align: center
}

table {
    width: 50%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
td {
    border: 1px solid #dddddd;
    padding: 5px;
}

button {
    background-color: rgb(50 255 50);
}