<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Сотрудники организации</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/employeePageStyle.css}"/>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    </head>
    <body>
        <h1>Система учета средств индивидуальной защиты</h1>
        <h2>Газпромнефть-Цифровые решения</h2>
        <form action="/" method="get">
            <input type="submit" value="Назад" name="Submit"/>
        </form>
        <h3>Управление сотрудниками</h3>

        <table>
            <tr>
                <th>ФИО</th>
                <th>Табельный номер</th>
                <th>должность</th>
                <th>средства инд защиты</th>
                <th>перевод в другое ДО</th>
            </tr>
            <tr th:each="employee: ${employees}">
                <td th:text="${employee.employeeName}"> </td>
                <td th:text="${employee.personnelNumber}"> </td>
                <td th:text="${employee.occupation}"> </td>
                <td class="td button">
                    <form th:method="GET" class="check_ppe_form" th:action="@{/employee/ppe}">
                        <input type="hidden" name="personnelNumber" th:value="${employee.personnelNumber}" />
                        <button type="submit" name="show_employee_ppe" class="check_button">Просмотр</button>
                    </form>
                </td>
                <td class="td button">
                    <form th:method="GET" class="show_transfer_page" th:action="@{/employee/transfer}">
                        <input type="hidden" name="personnelNumber" th:value="${employee.personnelNumber}" />
                        <button type="submit" name="show_transfer_employee_page" class="check_button">Перевести</button>
                    </form>
                </td>
            </tr>
        </table>

        <p>
        <h3>Добавить сотрудника в организацию</h3>
        <form id="apply_new_employee"
              th:action="@{/employee/add}"
              th:method="POST">
            <input type="text" name="name" placeholder="ФИО"/><br/>
            <input type="text" name="occupation" placeholder="должность"/><br/>
            <input type="text" name="personnelNumber" placeholder="табельный номер"/><br/>

            <button type="submit" class="apply_button">Сохранить</button>
        </form>
        </p>

    </body>
</html>