<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Панель контроля СИЗ</title>
            <link rel="stylesheet" type="text/css" th:href="@{/css/ppePageStyle.css}"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

        <script type="text/javascript">
            $(document).ready( function () {
                $('#apply_new_ppe').submit( function () {
                    var formdata = $(this).serialize();
                    $.ajax({
                        type: "POST",
                        url: "/ppe/apply_new_ppe",
                        data: formdata,
                        success: function () {
                            alert("Средство индивидуальной защиты добавлено");
                        },
                        error: function () {
                            alert("Возникли ошибки при добавлении нового средства защиты");
                        }
                    });
                    return false;
                });
            });
        </script>
        <script type="text/javascript">
            $(document).ready( function () {
                $('.decommissioning_ppe').submit( function () {
                    var formdata = $(this).serialize();
                    $.ajax({
                        type: "PATCH",
                        url: "/ppe/decommiss",
                        data: formdata
                    });
                    alert("decommissioned");
                    return false;
                });
            });
        </script>
    </head>

    <body>
        <h1>Система учета средств индивидуальной защиты</h1>
        <h2>Газпромнефть-Цифровые решения</h2>
        <form action="/" method="get">
            <input type="submit" value="Назад" name="Submit"/>
        </form>
        <h3>Управление средствами индивидуальной защиты</h3>

        <div class="wrapper">
            <p class="ppe_search">
                <h3>Поиск информации о СИЗ</h3>
                <form class="search_ppe_with_inventory_id"
                      th:action="@{/ppe/}"
                      th:method="GET">
                    <td>
                        <input type="text" name="inventoryNumber" placeholder="инвентарный номер"/>
                    </td>
                    <td>
                        <button type="submit" class="check_button">Найти</button>
                    </td>
                </form>

                <table class="ppe_search_table">
                    <tr>
                        <th>Название</th>
                        <th>владелец</th>
                        <th>инвентарный номер</th>
                        <th>дата начала использования</th>
                        <th>Срок годности</th>
                        <th>Статус</th>
                    </tr>
                    <tr th:object="${ppeForm}">
                        <td th:text="${ppeForm.ppeName}">...</td>
                        <td th:text="${ppeForm.ownerName}">...</td>
                        <td th:text="${ppeForm.inventoryNumber}">...</td>
                        <td th:text="${ppeForm.startUseDate == null} ? '' : ${#temporals.format(ppeForm.startUseDate, 'dd/MM/yyyy')}">...</td>
                        <td th:text="${ppeForm.lifeTime == null} ? '' : ${ppeForm.lifeTime.toDays()}">...</td>
                        <td th:text="${ppeForm.ppeStatus}">...</td>
                        <form th:method="PATCH" class="decommissioning_ppe" th:action="@{/ppe/decomiss}">
                            <input type="hidden" name="personnelNumber" th:value="${ppeForm.ownerPersonnelNumber}" />
                            <input type="hidden" name="inventoryNumber" th:value="${ppeForm.inventoryNumber}" />
                            <button type="submit" id="decommissioning_ppe_button" name="decommissioning_ppe" class="check_button">Списать</button>
                        </form>
                    </tr>
                </table>
            </p>
             <p>
                <h3>Добавить СИЗ</h3>
                <form id="apply_new_ppe"
                      th:action="@{/ppe/apply_new_ppe}"
                      th:method="POST">
                    <input type="text" name="ppeName" placeholder="название"/><br/>
                    <input type="text" name="price" placeholder="цена"/><br/>
                    <input type="text" name="inventoryNumber" placeholder="инвентарный номер"/><br/>
                    <input type="text" name="ownerPersonnelNumber" placeholder="таб номер владельца"/><br/>
                    <input type="date" name="date" placeholder="дата"/><br/>
                    <input type="text" name="lifeTimeDays" placeholder="макс. дней эксплуатации"/><br/>

                    <button type="submit" class="apply_button">Сохранить</button>
                </form>
            </p>
            <p>
                <table>
                    <tr>
                        <td>Название</td>
                        <td>Инвентарный номер</td>
                        <td>ФИО сотрудника</td>
                        <td>Табельный номер сотрудника</td>
                        <td>Срок годности</td>
                        <td>Дата начала эксплуатации</td>
                        <td>Статус</td>
                        <td>Цена</td>
                    </tr>
                    <tr th:each="ppeInStock: ${ppesInStock}">
                        <td th:text="${ppeInStock.ppeName}"></td>
                        <td th:text="${ppeInStock.inventoryNumber}"></td>
                        <td th:text="${ppeInStock.ownerName}"></td>
                        <td th:text="${ppeInStock.ownerPersonnelNumber}"></td>
                        <td th:text="${ppeInStock.lifeTime == null} ? '' : ${ppeInStock.lifeTime.toDays()}">...</td>
                        <td th:text="${ppeInStock.startUseDate == null} ? '' : ${#temporals.format(ppeInStock.startUseDate, 'dd/MM/yyyy')}"></td>
                        <td th:text="${ppeInStock.ppeStatus}"></td>
                        <td th:text="${ppeInStock.price}"></td>
                    </tr>
                </table>
            </p>
        </div>
    </body>
</html>